
/* ####################
Copyright area style
##################### */
#copyright_area{
  background: #292929;
  padding: 20px 0;
  color: #fff;
  text-align:right;
}
#copyright_area p{
  margin:0;
  color:#fff;
  font-size: 15px;
}
#copyright_area p a{
  color: #ea1a70;
}
#copyright_area p a:hover{
  text-decoration: underline;
}
