/*===========================================
  Archive Styling
===========================================*/
#archive_title, #search_title {
  background: #ea1a70;
  padding: 15px;
  margin-bottom: 20px;
}
#archive_title h1, #search_title h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}
