  /* Start Page nav area */
  #pagenav {

  }
  #page_nav p.pages {
    background: #ea1a70;
    color: #fff;
    padding: 5px 10px;
  }
  #page_nav p.pages span {
    display: inline-block;
    padding: 0 5px;
  }
  #page_nav .page-numbers {
    background: #ea1a70;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 0;
    transition: 0.5s;
  }
  #page_nav .page-numbers.current,
  #page_nav .page-numbers:hover {
    background: #262626;
  }

    /* End Page nav area */
